html, body, #app, #app > div {
    height: 100%;
}

#loadingContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6)
}

html, body, #app, #app > div {
    height: 100%;
}

#mainLeftSidebar {
    max-width: 100px;
    width: 100px;
    float: left;
    height: 100%;
}

.container-fluid.dark {
    background-color: rgb(22, 22, 22)
}

.container-fluid.dark h1, .container-fluid.dark h2, .container-fluid.dark h3, .container-fluid.dark h4, .container-fluid.dark h5, .container-fluid.dark h6, .container-fluid.dark p, .container-fluid.dark span {
    color: white;
}

.container-fluid.dark .sidebar-control {
    background-color: #2E2E2E;
}

.container-fluid .sidebar-control {
    background-color: #ded3d3;
}

#mainContent {
    color: white;
    height: 100%;
}

@media only screen and (max-width: 992px) {
    #mainLeftSidebar {
        display: none;
        float: none;
    }
}