@import './variables.scss';

.container-fluid.dark #ChatSideBar {
    background-color: $colorDark9;
}

.container-fluid #ChatSideBar {
    background-color: $colorLight1;
    color: $colorDark1;
}

.container-fluid.dark .chat-card:hover {
    background-color: $colorDark8;
    cursor: pointer;
}

.chat-card.active, .chat-card.active:hover {
    background-color: $colorGreen1 !important;
    color: $colorLight1;
}

.chat-card:hover {
    background-color: $colorLight4;
    color: $colorDark1;
    cursor: pointer;
}

.chat-card {
    padding: 10px;
}

#ChatSideBar {
    position: relative;
}

#ChatSideBar #ChatLists {
    overflow-y: auto;
    overflow-x: hidden;
}

#ChatSideBar > #AddCharacters {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#ChatSideBar #ChatLists::-webkit-scrollbar, #UserInput::-webkit-scrollbar, #ChatContent::-webkit-scrollbar {
    width: 8px;
}

#ChatSideBar #ChatLists::-webkit-scrollbar-track, #UserInput::-webkit-scrollbar-track, #ChatContent::-webkit-scrollbar-track {
    background-color: $colorDark1;
}

#ChatSideBar #ChatLists::-webkit-scrollbar-thumb, #UserInput::-webkit-scrollbar-thumb, #ChatContent::-webkit-scrollbar-thumb {
    background-color: $colorDark6; /* color of the thumb */
    border-radius: 10px;
}

#UserInput::-webkit-scrollbar-thumb:hover {
    cursor: default
}

.character-image {
    max-width: 48px;
    max-height: 48px;
    border-radius: 50%;
}

.character-name {
    margin: 0;
    margin-left: 20px;
    cursor: default;
    font-size: 0.85rem;
}

#ChatLists > *, #ChatHeader, .character-name, #SelectedChat > * {
    user-select: none;
    -webkit-user-select: none;
}

.character-name:hover {
    cursor: pointer;
}

div#SelectedChat {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('/public/img/chat-background.png');
    background-color: $colorLight3;
}

.container-fluid.dark div#SelectedChat {
    background-color: $colorDark1;
}

.user-chat-topbar {
    max-height: 64px;
    height: 64px;
    background-color: $colorDark6;
    color: $colorDark1;
    backdrop-filter: blur(6px);
    position: absolute;
    width: 100%;;
}

.container-fluid.dark div.user-chat-topbar {
    background-color: $colorDark7;
    color: $colorLight1;
}

.user-chat-input {
    position: absolute;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: $colorLight3;
}

.container-fluid.dark .user-chat-input {
    background-color: $colorDark3;
}

.container-fluid.dark #UserInput {
    background-color: $colorDark8;
    border-color: $colorDark8;
    color: $colorLight1;
}

#UserInput {
    caret-color: $colorGreen1;
    outline: none;
    border-radius: 20px;
    resize: none;
}

#UserInput:focus {
    caret-color: $colorGreen1;
    outline: none;
    box-shadow: 0 0 0px $colorLightBlue1;
}

#ChatContent {
    overflow-y: auto;
}