// LIGHT COLOR
$colorLight1: rgb(255, 255, 255);
$colorLight2: rgb(222, 211, 211);
$colorLight3: rgb(242,242,242);
$colorLight4: rgb(210, 210, 210);


// DARK COLOR
$colorDark1: rgb(0,0,0);;
$colorDark2: rgb(22, 22, 22);
$colorDark3: rgb(46, 46, 46);
$colorDark4: rgb(95, 95, 95);
$colorDark5: rgba(0, 0, 0, 0.15);
$colorDark6: rgb(136, 136, 136);
$colorDark6: rgba(243,243,243, 0.5);
$colorDark7: rgba(53, 53, 53, 0.5);
$colorDark8: rgb(51,51,51);
$colorDark9: rgb(38, 38, 38);
$colorDark10: rgba(0, 0, 0, 0.6);
$colorDark11: rgb(36, 37, 37);
$colorDark12: rgba(0, 0, 0, 0.5);


// OTHER COLOR
$colorGreen1: rgb(78,172,109);
$colorLightBlue1: rgb(158, 202, 237);